.body {
  background: var(--branco);
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-button {
  background-color: var(--preto);
  border: var(--preto);
  color: #fff;
}

h3 {
  color: var(--preto);
  font-weight: 500;
}

.text-center span {
  font-weight: 900;
}

.text-card span {
  font-weight: bold;
}

h6 {
  color: var(--preto);
}

.links {
  color: var(--preto);
}

p {
  color: #fff;
}

button{
  margin-bottom: 10px;
}

.container {
  background-color: #F7D78C;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.login-container {
  max-width: 350px;
  margin: auto;
}

.logo-rocket {
  text-align: center;
  margin-top: 20px;
  max-width: 80%;
}

.card-body input {
  border: 1px solid var(--preto);
}

body > app-root > app-login > div > div > div > div > div.card-body > form > div:nth-child(2) > a{
  padding-top: 10px;
  text-align: right;
}

.card-body ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 36px;
}

.footer p{
  text-align: center;
  color: var(--preto);
}
