.body {
    background: var(--branco)r;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    color: var(--preto);
    font-weight: 900;
}

h6 {
    color: grey;
}

.color-button {
    background-color: var(--preto);
    border: var(--preto);
    color: #fff;
}

h1 {
    color: #fff;
    font-weight: 900;
    font-family: 'Khand';
}

p {
    color: #fff;
}

.container {
    width: 350px;
    background-color: #F7D78C;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 70%; /* Ajuste a largura máxima conforme necessário */
    margin-left: 5%; /* Adicione uma margem à esquerda */
}
.container input{
  border: 1px solid var(--preto);
}

.login-container {
    max-width: 100%;
    margin: auto;
}

.logo-rocket {
    text-align: center;
    margin-top: 20px;
    max-width: 70%; /* Ajuste a largura máxima conforme necessário */
    margin-left: 5%; /* Adicione uma margem à esquerda */
}

.footer p{
  text-align: center;
  color: var(--preto);
}




@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-md-12, .col-md-6 {
        width: 100%;
        order: 0;
    }

    .login-container {
        max-width: 90%;
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    .logo-rocket {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
