.container {
  max-width: 1600px;
  // max-width: 1440px;
  max-height: 1024px;
  width: 100vw;
  height: 100%;
  background: transparent;
}

.faixa-preta {
  background-image: url('../../../assets/pexels-estrelado2.png');
  background-size: cover;
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-container {
  color: #fff;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 260px;
  font-family: Khand;
  font-size: 36px;
  padding: 0 30px;
  text-align: center;
}

.logo span {
  font-weight: bold;
}

.top-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.top-botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.body {
  display: flex;
  height: calc(100% - 70px);
}

.sidebar {
  color: #fff;
  width: 230px;
  font-family: Khand;
  background: var(--clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.sidebar .side-mid svg path {
  fill: #fff;
}

.iconpix div {
  margin-bottom: -30px;
}

.iconpix span {
  position: relative;
  top: -30px;
  left: 30px;
}

.sidebar a:hover,
.sidebar a:hover svg path {
  color: var(--amarelo);
  fill: var(--amarelo);
}

.porquin {
  width: 150px;
}

.side-mid {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.side-bot {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.side-mid img {
  width: 16px;
  margin-bottom: -1px;
}

.side-mid i,
.side-mid img,
.side-bot i {
  margin-right: 15px;
}

.side-mid a,
.side-bot a {
  margin-bottom: 15px;
}

.menu-icon {
  width: 50px;
  height: 45px;
  border-radius: 10px;
  background: #c4c4c43a;
  padding: 10px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.menu-icon input {
  display: none;
}

.menu-icon span {
  display: block;
  position: relative;
  height: 3.5px;
  width: 100%;
  background: var(--preto);
  border-radius: 10px;
  opacity: 1;
  left: 0;
  margin-bottom: 24%;
  transition: 0.3s ease-in-out;
}

.menu-icon span {
  transform-origin: left center;
}

.menu-icon input:checked~span {
  background: var(--preto);
  left: 5px;
  margin-bottom: 28%;
}

.menu-icon input:checked~span:nth-of-type(1) {
  transform: rotate(50deg);
}

.menu-icon input:checked~span:nth-of-type(2) {
  opacity: 0;
}

.menu-icon input:checked~span:nth-of-type(3) {
  transform: rotate(-50deg);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 230px);
}


@media screen and (max-width: 1015px) {

  .menu-icon {
    display: inline;
  }

  .sidebar,
  .faixa-preta,
  .top-container {
    display: none;
  }

  .right {
    width: 100vw;
  }

  .sidebar-active {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 735px) {

  .right {
    justify-content: space-evenly;
  }

  // app-footer {
  //   display: block;
  // }

}


