*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
:root{
  --clr:#000000;
  --white:#fff;
  --color-base: #ecc270;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.navigation{
  width: 100%;
  height: 70px;
  display: flex;
  margin-top: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--clr);
  border-radius: 15px 15px 0 0;
}
.navigation ul{
  width: 375px;
  display: flex;
}
.navigation ul li{
  z-index: 1;
  width: 80px;
  height: 70px;
  position: relative;
}
.navigation ul li a{
  width: 100%;
  display: flex;
  font-weight: 500;
  position: relative;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navigation ul li a .icon{
  display: block;
  font-size: 1.5em;
  transition: 0.5s;
  line-height: 75px;
  color: var(--white);
  text-align: center;
  position: relative;
}
.navigation ul li.active a .icon{
  transform: translateY(-32px);
}
.navigation ul li a .text{
  opacity: 0;
  font-weight: 400;
  transition: 0.5s;
  color: var(--white);
  font-size: 0.75em;
  position: absolute;
  letter-spacing: 0.05em;
  transform: translateY(20px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navigation ul li.active a .text{
  opacity: 1;
  transform: translateY(10px);
}
.indicator{
  top: -50%;
  width: 70px;
  height: 70px;
  transition: 0.5s;
  position: absolute;
  border-radius: 50%;
  border: 6px solid var(--white);
  background: var(--color-base);
}
.indicator::before{
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  content: ' ';
  position: absolute;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--white);
}
.indicator::after{
  top: 50%;
  width: 20px;
  height: 20px;
  right: -22px;
  content: ' ';
  position: absolute;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--white);
}
.navigation ul li.active .icon{
  color: var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(76px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(76px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(76px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(76px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(76px * 4));
}

// @media (min-width: 850px ){
//   .navigation{
//     display: none;
//   }
// }
@media (min-width: 735px ){
  .navigation{
    display: none;
  }
}

@media (min-width: 768px){
  .navigation ul{
    width: 768px;
  }
  .navigation ul li{
    width: 10rem;
  }
  .navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(10rem * 0));
    left: 43px;
  }
  .navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(193px * 1));
  }
  .navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(174px  * 2));
  }
  .navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(167px * 3));
  }
  .navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(164px  * 4));
  }
}
@media (min-width: 820px){
  .navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(10rem * 0));
    left: 60px;
  }
}
