<div class="table">
  <div class="title">
    <h3>Histórico de Transações</h3>
    <div>
      <p>Filtrar por:</p>
      <select id="filtro-transacoes">
        <option value="todas">Todas</option>
        <option value="entrada">Entrada</option>
        <option value="saida">Saída</option>
        <!-- <option value="hoje">Hoje</option>
        <option value="ontem">Ontem</option>
        <option value="ultima-semana">Última Semana</option>
        <option value="ultimo-mes">Último Mês</option>
        <option value="personalizado">Personalizado</option> -->
      </select>
    </div>
  </div>
  <div class="table-body">
    <table>
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Data</th>
          <th class="detalhes">Detalhes</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transacao of paginatedTransactions">
          <td>
            <div [ngStyle]="{'background': transacao.valor >= 0 ? 'var(--verde)' : 'var(--vermelho)'}"
              *ngIf="transacao.tipo === 'entrada'"><i class="bi bi-arrow-down-up"></i></div>
            <div [ngStyle]="{'background': transacao.valor >= 0 ? 'var(--verde)' : 'var(--vermelho)'}"
              *ngIf="transacao.tipo === 'saída'"><i class="bi bi-credit-card"></i></div>
          </td>
          <td>{{ transacao.data | date:'dd/MM/yyyy' }}</td>
          <td>{{ transacao.detalhes }}</td>
          <td [ngStyle]="{'color': transacao.valor >= 0 ? 'var(--verde)' : 'var(--vermelho)'}">R$ {{
            (transacao.valor).toFixed(2) }}</td>

        </tr>
      </tbody>
    </table>

  </div>
  <div class="page-btn">
    <button (click)="goToPreviousPage()">Anterior</button>
    <button>{{ currentPage }}</button>
    <button (click)="goToNextPage()">Próximo</button>
  </div>

</div>
<div class="bot">
  <span>Desenvolvido por StarTech</span><span>Política de Ptrivacidade | Termos de Serviço</span>
</div>
