.menu-icon {
  width: 50px;
  height: 45px;
  border-radius: 10px;
  background: #c4c4c43a;
  padding: 10px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu-icon input {
  display: none;
}

.menu-icon span {
  display: block;
  position: relative;
  height: 3.5px;
  width: 100%;
  background: var(--preto);
  border-radius: 10px;
  opacity: 1;
  left: 0;
  margin-bottom: 24%;
  transition: 0.3s ease-in-out;
}

.menu-icon span {
  transform-origin: left center;
}

.menu-icon input:checked~span {
  background: var(--preto);
  left: 5px;
  margin-bottom: 28%;
}

.menu-icon input:checked~span:nth-of-type(1) {
  transform: rotate(50deg);
}

.menu-icon input:checked~span:nth-of-type(2) {
  opacity: 0;
}

.menu-icon input:checked~span:nth-of-type(3) {
  transform: rotate(-50deg);
}

.btn-card {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: #ddd;
  color: #222222;
  border: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  top: 170px;
  left: 155px;
  display: none;
}


.cards {
  display: flex;
  justify-content: space-around;
  gap: 11%;
  max-width: 782px;
  width: 100%;
}

.card {
  text-align: center;
}

.card h2 {
  margin: 25px auto 25px auto;
  font-family: khand;
}

.conta,
.credito {
  color: #fff;
  width: 319px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 30px;
  background-image: url('../../../assets/cartao-sp.png');
  background-size: cover;
  background-position: center;
}

.conta div:first-child {
  text-align: start;
  font-size: 14px;
}

.conta p {
  font-size: 20px;
}

.conta p:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.conta p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 40px;
}

.credito {
  font-size: 14px;
}

.credito img {
  width: 30px;
}

.credito div:nth-child(1) {
  display: flex;
  margin-left: 0;
}

.credito div:nth-child(2) {
  font-size: 20px;
}

.credito div:nth-child(3) {
  text-align: start;
}

.credito div:nth-child(4) {
  display: flex;
  justify-content: space-between;
}

.credito div:nth-child(4) p {
  margin: 0px;
}

.credito div:nth-child(4) img {
  margin-top: -5px;
  margin-bottom: -10px;
}

.table {
  max-width: 835px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  font-family: khand;
  font-size: 20px;
  gap: 20px;
}

.title div {
  display: flex;
  gap: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.title select {
  background: var(--amarelo);
  color: var(--preto);
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(185, 185, 185);
}

.table-body thead {
  color: #fff;
  background: var(--clr);
}

.table-body thead th:first-child {
  width: 100px;
}

.table-body tbody {
  text-align: center;
}

.table-body tr {
  height: 50px;
}

.table-body tbody div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: var(--verde);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-body tbody tr:nth-child(even) td div {
  background: var(--vermelho);
}

.table-body tbody tr:nth-child(even) td:nth-child(5) {
  color: var(--vermelho);
}

.table-body tbody tr:nth-child(odd) td:nth-child(5) {
  color: var(--verde);
}

.page-btn {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.page-btn button {
  padding: 5px;
}

.page-btn button:nth-child(2) {
  width: 30px;
  color: #fff;
  background: var(--preto);
}



.bot {
  color: #52596D;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.bot span {
  padding-top: 15px;
  padding-bottom: 15px;
}



@media screen and (max-height: 785px) {
  .bot {
    display: none;
  }

  .table {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1015px) {

  .table,
  .cards {
    width: 100vw;
  }

  .cards {
    gap: 2%
  }
}

@media screen and (max-width: 735px) {

  .btn-card {
    display: flex;
  }

  .cards {
    position: relative;
    top: -120px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }

  .cards.rotated {
    transform: rotateY(180deg);
  }

  .cards .card:nth-child(1) {
    background: #eee;
    position: absolute;
    backface-visibility: hidden;
  }

  .cards .card:nth-child(2) {
    background: #eee;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  .table-body table thead .detalhes {
    grid-column: span 1;
  }

  .table-body tbody tr td {
    padding: 5px;
  }

  .table-body thead th:nth-child(2)
  .table-body tbody tr td:nth-child(2){
    display: none;
  }

  .table-body tbody tr td:nth-child(4) {
    text-align: center;
  }

  .bot {
    display: none;
  }
}
