
<div class="cards" [class.rotated]="isRotated">
  <div class="card">
    <h2>Conta</h2>
    <div class="conta">
      <div>{{user.name}}</div>
      <div>
        <p>Saldo Total</p>
        <p>R$ {{(user.saldoTotal/100).toFixed(2)}}</p>
      </div>
    </div>
  </div>
  <div class="card">
    <h2>Cartão</h2>
    <div class="credito">
      <div><img src="../../../assets/credit-card-chip.svg" alt="" srcset=""></div>
      <div>{{user.cartao.numero}}</div>
      <div>{{user.name}}</div>
      <div>
        <span>
          <p>Expiry Date</p>
          <p>{{user.cartao.validade}}</p>
        </span>
        <span>
          <p>CVV</p>
          <p>{{user.cartao.cvv}}</p>
        </span>
        <span>
          <img src="../../../assets/mastercard-byicon54.svg" alt="" srcset="">
          <p>{{user.cartao.tipo}}</p>
        </span>
      </div>
    </div>
  </div>
  <a (click)="toggleRotation()" class="btn-card"><i class="bi bi-reply-fill"></i></a>
</div>
<div class="table">
  <div class="title">
    <h3>Transações Recentes</h3>
    <!-- <span><a id="transacoes" (click)="chooseComponent($event)">Ver mais</a></span> -->
    <span><a id="transacoes">Ver mais</a></span>
  </div>
  <div class="table-body">
    <table>
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Data</th>
          <th class="detalhes">Detalhes</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transacao of user.transacoes.slice(-5)">
          <td>
            <div [ngStyle]="{'background': transacao.valor >= 0 ? 'var(--verde)' : 'var(--vermelho)'}"
              *ngIf="transacao.tipo === 'entrada'"><i class="bi bi-arrow-down-up"></i></div>
            <div [ngStyle]="{'background': transacao.valor >= 0 ? 'var(--verde)' : 'var(--vermelho)'}"
              *ngIf="transacao.tipo === 'saída'"><i class="bi bi-credit-card"></i></div>
          </td>
          <td>{{ transacao.data | date:'dd/MM/yyyy' }}</td>
          <td>{{ transacao.detalhes }}</td>
          <td [ngStyle]="{'color': transacao.valor >= 0 ? 'var(--verde)' : 'var(--vermelho)'}">R$ {{
            (transacao.valor).toFixed(2) }}</td>

        </tr>
      </tbody>
    </table>

  </div>
  <div class="page-btn">
    <button>Anterior</button>
    <button>1</button>
    <button>Próximo</button>
  </div>

</div>
<div class="bot">
  <span>Desenvolvido por StarTech</span><span>Política de Ptrivacidade | Termos de Serviço</span>
</div>

