body {
    background-image: url('/assets/images/stars_2.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-link {
    display: inline-block;
    padding: 5px 80px;
    margin: 5px 20px;
    background-color: #f3be73; 
    color: #ffffff; 
    text-decoration: none; 
    border-radius: 20px; 
}

.logo-rocket{
    float: center;
    /* margin-left: 100px; */
}

h1{
    color: #fff;
    font-weight: 900;
    font-family: 'Khand';
}

p{
    color: #fff;
}

