nav,
section,
footer {
  border-left: 1px solid var(--cinza2);
  border-right: 1px solid var(--cinza2);
}

.container {
  background: var(--branco);
  padding: 0;
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

nav .navbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-weight: 600;
}

nav .navbar li a {
  color: var(--secundaria);
}

nav .logo,
nav .logo i,
nav .logo span {
  font-size: 20px;
  color: var(--primaria);
}

nav .logo span {
  font-weight: bold;
}

nav .logo {
  font-weight: 500;
}

nav button {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: var(--preto);
  color: var(--branco);
  font-size: 18px;
}

nav button,
nav button i {
  color: var(--primaria);
  font-size: 16px;
  font-weight: 500;
}


.banner {
  width: 100%;
  height: calc(100vh - 170px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-left .texto {
  width: 100%;
  max-width: 500px;
}

.banner-left h1 {
  font-size: 64px;
  color: var(--secundaria);
}

.banner-left h1 span {
  color: var(--primaria);
}

.banner-left p {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.banner-left button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: var(--primaria);
  color: var(--branco);
  font-size: 18px;
}

.banner-left button i {
  color: var(--branco);
}



.slide-logo {
  width: 100%;
  height: 100px;
  background: var(--amarelo);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slide-logo .mxm {
  height: 30px;
}

.slide-logo .ima {
  /* #23262E */
  height: 65px;
}





.servicos {
  width: 100%;
  height: calc(100vh - 70px);
  background: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}

.servicos p {
  margin-top: 20px;
}

.servicos .cards {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

.servicos .card {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 450px;
}

.servicos img {
  height: 365px;
  border-radius: 10px;
  object-fit: cover;
}

.servicos .card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.servicos i {
  color: var(--primaria);
  font-size: 36px;
}




.card-section {
  width: 100%;
  height: 630px;
  background: var(--amarelo);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.card-left .texto {
  width: 100%;
  max-width: 600px;
}

.card-left h1 {
  font-size: 36px;
  color: var(--secundaria);
}

.card-left h1 span {
  color: var(--primaria);
}

.card-left p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card-left button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: var(--preto);
  color: var(--branco);
  font-size: 18px;
}

.card-left button i {
  color: var(--branco);
}

.card-right {
  padding-right: 50px;
}



.paralax {
  width: 100%;
  height: 1300px;
  background-image: url('../../../assets/landingPage/pexels-bank.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* filter: blur(5px); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.paralax .paralax-top {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.paralax .top-left img{
  object-fit: cover;
}
.paralax .top-left {
  width: 40%;
}

.paralax .top-right {
  height: 100%;
  width: 100%;
  // border: 1px solid green;
}

.paralax .top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.paralax .texto,
.paralax .lista {
  max-width: 500px;
  color: var(--branco);
  font-size: 20px;
}

.paralax .cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.paralax .card {
  width: 390px;
  height: 330px;
  border-radius: 30px;
  border: 1px solid #fff;
  background: rgba(238, 238, 238, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}

.paralax .card img {
  width: 50px;
}

.paralax .card .person {
  display: flex;
  gap: 10px;
}

.faq {
  width: 100%;
  background: var(--amarelo);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.faq-container {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.faq-container h1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  margin-bottom: 80px;
}

.faq .accordion-item {
  margin-top: 25px;
}

.faq .accordion-title {
  font-size: 16px;
  color: var(--secundaria);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--secundaria);
}

.faq .accordion-content {
  display: none;
  margin-top: 10px;
}

.faq .accordion-content p {
  font-size: 16px;
  color: var(--preto);
}

.faq .accordion-content.active {
  display: block;
}



.cta-app {
  width: 100%;
  height: 630px;
  background: var(--branco);
  display: flex;
  justify-content: space-between;
  /* border: 3px solid var(--laranja); */
}

.app-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.app-left .texto {
  width: 100%;
  max-width: 500px;
}

.app-left h1 {
  font-size: 36px;
  color: var(--secundaria);
}

.app-left p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.app-left .badges {
  display: flex;
  align-items: center;
  gap: 25px;

}

.app-left .badges img:nth-child(1) {
  height: 64px;
}

.app-left .badges img:nth-child(2) {
  height: 80px;
}

.app-right {
  height: 100%;
}

.app-right img {
  margin-top: 50px;
  margin-right: 100px;
}


.newsletter {
  width: 100%;
  height: 400px;
  background: var(--amarelo);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter .texto {
  width: 600px;
  text-align: center;
}

.newsletter h2 {
  font-size: 36px;
}

.newsletter p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.newsletter input {
  width: 380px;
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
}

.newsletter button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: var(--preto);
  color: var(--branco);
  font-size: 20px;
  margin-left: 10px;
}

footer {
  width: 100%;
  height: 350px;
  background: var(--andromeda);
  color: var(--branco);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer .footer-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .logo,
footer .logo i,
footer .logo span {
  font-size: 20px;
  color: var(--primaria);
}

footer .logo span {
  font-weight: bold;
}

footer .logo {
  font-weight: 500;
}

footer .footer-bot {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

footer .footer-bot ul {
  display: flex;
  gap: 10px;
}

footer .footer-bot i {
  font-size: 36px;
}


@media screen and (max-width: 1300px) {
  .servicos{
    height: auto;
  }
  .servicos .cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 745px) {

  section,
  .container {
    width: 100vw;
  }

  .navbar li {
    display: none;
  }

  .banner,
  .cta-app {
    display: block;
  }

  .banner .texto {
    width: 90%;
  }

  .banner{
    height: auto;
  }

  .banner h1 {
    font-size: 36px;
  }

  .banner p {
    font-size: 16px;
  }

  .banner-left {
    margin: 50px 0px;
  }

  .banner-right div{
    display: flex;
    justify-content: end;
  }

  .banner-right img{
    width: 90%;
    margin-bottom: 30px;
  }

  .slide-logo img:nth-child(4),
  .slide-logo img:nth-child(5),
  .slide-logo img:nth-child(6),
  .slide-logo img:nth-child(7),
  .slide-logo img:nth-child(8) {
    display: none;
  }

  .servicos {
    height: auto;
  }

  .servicos p {
    text-align: center;
  }

  .servicos .cards {
    flex-direction: column;
  }

  .card-section .card-left {
    margin-left: 0;
    padding: 0 20px;
  }

  .card-section .card-right {
    display: none;
  }

  .paralax {
    height: auto;
    padding-bottom: 30px;
  }

  .paralax-top {
    padding: 40px 20px;
  }

  .paralax .top-left {
    display: none;
  }

  .paralax .top-right {
    gap: 20px;
  }

  .paralax .cards {
    flex-direction: column;
  }

  .paralax .card {
    width: 90%;
  }

  .faq-container {
    width: 90%;
  }

  .app-left {
    align-items: center;
    justify-content: center;
    padding-left: 6%;
    margin-left: 0;
  }

  .app-left .badges img:nth-child(1) {
    height: 32px;
  }

  .app-left .badges img:nth-child(2) {
    height: 40px;
  }

  .cta-app .texto {
    width: 90%;
  }

  .cta-app .app-right {
    display: none;
  }

  .newsletter {
    padding: 0 4%;
  }

  .newsletter input {
    width: 90%;
    margin-bottom: 10px;
  }

  footer{
    height: auto;
  }

  .footer-container{
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
  }

  .footer-container div{
    text-align: center;
  }
  .footer-bot ul li{
    display: none;
  }
  .footer-bot{
    height: 150px;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }


}
